doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Twitter Client
    meta(name='description', content='Twitter app to access your own data')
    meta(name='author', content='Alessandro Romanelli')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon", href="images/favicon.ico", type="image/x-icon")
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/global.css')
block content
