.app--tweet
  form( action="/" method="POST")
    .circle--fluid
      .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
        .app--avatar(style=`background-image: url(${profileData.profile_image_url_https})`)
          img(src=`${profileData.profile_image_url_https}`)
        textarea#tweet-textarea.circle--textarea--input(name="text_tweet" placeholder="What's on your mind?")
        strong#tweet-char.app--tweet--char 140
      .circle--fluid--cell.align-bottom
        button.button-primary(type="submit") Tweet
block content
